# ID spreadsheet Google Sheets (dari URL: https://docs.google.com/spreadsheets/d/ID_INI/edit)
GOOGLE_SHEET_ID=

# Email service account dari Google Cloud Console
GOOGLE_SERVICE_ACCOUNT_EMAIL=

# Private key service account (biarkan tanda kutip, jangan hapus \n)
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
